.banner-principal-decorativo
  &-1
    animation: float1 3.5s ease-in-out infinite alternate
    position: absolute
    top: 40%
    right: 50%
  &-2
    animation: float1 2.8s ease-in-out infinite alternate
    position: absolute
    top: 51%
    right: 30%


@keyframes float1
  0%
    transform: translateY(20px)

  100%
    transform: translateY(0px)

/*********************************************************/
/*************** REFACTORIZACIÓN ***********************/
.titulo-principal.color-acento-contenido .titulo-principal__numero span
  color: white !important   
.banner-principal__row .banner-principal__img
  max-width: 480px !important  
.banner-principal__img img
  width: 75% !important
.titulo-principal.color-acento-contenido .titulo-principal__numero 
    background-color: $color-primario !important
figcaption, table caption
  font-weight: normal 

.banner-principal p, .banner-principal h1, .banner-principal h2, .banner-principal h3, .banner-principal h4, .banner-principal h5, .banner-principal h6
  color: $color-sistema-texto !important

.bg1
  background-color: #B5C7D1

.lista-ol--cuadro__vineta 
    color: $color-sistema-texto
    font-weight: bold
.titulo-sexto.color-secundario 
    border-left-color: $color-secundario

.titulo-segundo:after 
    content: ''
    display: block
    height: 4.5px
    width: 140px
    border-left: solid 50px
    border-left-color: $color-secundario
    background-color: #e8e8e8

.fa-check-circle:before, .fa-circle-check:before 
    content: "\f058"
    color: #445130

.titulo-icono
  background-color: #A6CDEC
  width: fit-content
  position: relative;
  left: 15px;
  &-text
    margin-right: 10px
    margin-left: 0px;
    color: $color-sistema-texto !important
  &-img
    padding: 0px


    &:before
      position: relative
      border-radius: 60px
      @media screen and (max-width: 767px)
        height: 280%
    img
      position: relative
      max-width: 50px

.bloque-texto-b i 
    font-size: 2.5em
    color: $color-primario
.p-full-width
  padding: 3rem 2.5rem!important;
.bg-full-width
  background-size: cover
  background-repeat: no-repeat
  background-position: bottom
  margin-inline: -3.3rem
.bg-fondo
  &-1
    background-size: cover
    background-repeat: no-repeat
    background-position: center
.bg-color
  &-1
    background-color: $color-primario
  &-2
    background-color: #E4F0F9
  &-3
    background-color: $color-acento-botones
  &-4
    background-color: #F1F1F1
  &-5
    background-color: $color-acento-contenido
  &-6
    background-color: #0A4666
  &-7
    background-color: #A6CDEC
  &-8
    background-color: $color-secundario
  &-9
    background-color: #B5C7D1
  &-10
    background-color: #E5EFD6
  &-11
    background-color: #84A4BC

.linea-tiempo-c__header__btn, .linea-tiempo-c__header__btn--left, .linea-tiempo-c__header__btn--right, .pasos-b__header__btn--left, .pasos-b__header__btn--right, .linea-tiempo-c__header__btn--left, .linea-tiempo-c__header__btn--right, .pasos-b__header__btn--left, .pasos-b__header__btn--right
    border: 0 !important
    background-color: $color-acento-botones !important

.linea-tiempo-c.color-acento-contenido .linea-tiempo-c__header__item--active .linea-tiempo-c__header__item__line-container:before,
.linea-tiempo-c.color-acento-contenido .linea-tiempo-c__header__item--active .linea-tiempo-c__header__item__dot:after,
.linea-tiempo-c.color-acento-contenido .linea-tiempo-c__header__item--before .linea-tiempo-c__header__item__line-container:before, .linea-tiempo-c.color-acento-contenido .linea-tiempo-c__header__item--before .linea-tiempo-c__header__item__line-container:after
    background-color: $color-acento-botones !important
.linea-tiempo-c.color-acento-contenido .linea-tiempo-c__header__item--active .linea-tiempo-c__header__item__dot,
.linea-tiempo-c.color-acento-contenido .linea-tiempo-c__header__item--before .linea-tiempo-c__header__item__dot
  border-color: $color-acento-botones !important

.bg3
  background-color: #3A4852
  border-radius: 10px
  background-size: 100% 100%
  background-repeat: no-repeat
  background-position: center 
  margin-inline: -3rem
  @media screen and (max-width: 992px)
    margin-inline: -1.4rem

.mbt
  display: flex
.slyder-f__btn i
  font-size: 1.2rem
  background-color: $color-acento-botones
  color: $color-sistema-texto
  height: 46px
  width: 46px
  padding: 5px
  border-radius: 500px
  display: flex
  justify-content: center
  align-items: center
/*********************************************************/




.banner-interno__fondo    
  background-image: url("../assets/curso/portada/portada.png") !important
  justify-content: space-around
  background-repeat: no-repeat
  background-position: cover
  
// fondos y tamaños unicolor

.img65
  width: 65px  !important

.img90
  width: 90px  !important

.img95
  width: 95px  !important

.img95
  width: 100px  !important

.img250
  width: 250px !important

.img200
  width: 200px !important

.img120
  with: 120px !important

.img100menos
  with: -100px !important

.bgazulclaro
  background-color: #75BAF1

.bgrosado
  background-color: #E2D8F4

.bgrosado2
  background-color: #E9E2F7

.bgmoradoclaro
  background-color: #CCBBEB

.bgblanco
  background-color: white

.bgmoradomedio
  background-color: #BE79CA

.bgpcmorada
  background: url('../assets/curso/temas/tema1/fondo2.png')
  background-size: 100% 100%
  background-repeat: no-repeat
  background-position: cover

.bgfondotema2
  background: url('../assets/curso/temas/tema2/fondo1.png')
  background-size: 100% 100%
  background-repeat: no-repeat
  background-position: cover

.bgfondotema9
  background: url('../assets/curso/temas/tema8y9/fondo1.png')
  background-size: 100% 100%
  background-repeat: no-repeat
  background-position: cover

.borde-redondo
  border-radius: 20px

.borde-redondo-abajo
  border-bottom-left-radius: 20px
  border-bottom-right-radius: 20px

.borde-redondo-arriba
  border-top-left-radius: 20px
  border-top-right-radius: 20px

.fondotema3
  background: url('../assets/curso/temas/tema3/fondo1.png')
  background-size: 101%
  background-repeat: no-repeat
  background-position: bottom
  margin-inline: -3.4rem
  @media screen and (max-width: 992px)
    margin-inline: -1.4rem

// viñetas

.fa-ol
  margin-left: 0 !important
  li
    display: flex !important
    &:before
      position: relative
      margin-right: 20px
      font-size: 1.4rem

.fa-al
  margin-left: 0 !important
  li
    display: flex !important
    &:before
      position: relative
      margin-right: 19px
      font-size: 1.4rem

//tema 1

.tarjeta--morada
  background: url('../assets/curso/temas/tema1/fondo1.png')
  background-size: 100% 100%
  background-repeat: no-repeat
  background-position: cover

.slyder-a__bullets__item 
    background-color: #91AFBE

.slyder-a__bullets__item--active 
    background-color: $color-acento-botones
    border-color: $color-acento-botones
    opacity: 1 !important

.slyder-a__btn--sigt, .slyder-a__btn--atrs 
    background-color: $color-acento-botones !important

@media (max-width: 768px) 
    .slyder-a__bullets__item 
        width: 11px
        height: 11px
        margin: 0px 0.5px

@media (max-width: 768px)  
  .slyder-a__btn--sigt, .slyder-a__btn--atrs
    width: 30px
    height: 30px

.slyder-a__btn--sigt, .slyder-a__btn--atrs 
    width: 50px
    height: 50px
    background-color: #FFD947
    border-radius: 50%
    background-repeat: no-repeat
    background-size: 16px 24px
    background-position: center
    border: 1px solid #D8ECFF
    z-index: 10000
    opacity: 0.7
    box-shadow: 0 0 0px 0px rgba(0, 0, 0, 0.3)
    transition: opacity 0.3s ease-in-out, box-shadow 0.3s ease-in-out
    cursor: pointer

.tabs-a__tab
    background-color: $color-acento-botones
.tabs-a.color-acento-botones .tabs-a__tab__selected,
.tabs-a.color-acento-botones .tabs-a__tab__selected:before
    background-color: $color-secundario !important

.tarjeta.color-secundario--borde
    background-color:  #C2F4F8
    border: solid 1px  #C2F4F8
    color: #12263F

// tarjeta avatar tema 1

.tarjeta-avatar-b__img
    min-width: 40%
    max-width: 40%
    
.sobavatar1
  margin-right: -17% 
  z-index: 9999
  @media (max-width: 576px)
    margin-left: 0px

.sobavatar2
  margin-right: -10% 
  z-index: 9999
  @media (max-width: 576px)
    margin-left: 0px

.moverderecha1
  margin-left: 20% 

.moverderecha2
  margin-left: 8% 

.moverderecha3
  margin-left: 50% 

.moverizquierda1
  margin-right: -3% 

.bgavatarazulclaro
  background-color: #E4F0F9

// parametros pasos tema3

.pasos-a.color-acento-contenido .pasos-a__circle div 
    color: #fff
.pasos-a.color-acento-contenido .pasos-a__circle
  background-color: #445130 !important
.pasos-a.color-acento-contenido .pasos-a__numero::after
    border-left-color:#445130 !important
.pasos-a.color-acento-contenido .pasos-a__linea .hor-line
    border-top-color: #445130 !important
.pasos-a.color-acento-contenido .pasos-a__linea__esquina__linea
  border-color: #445130 !important

// bloque de texto comillas tema 4

.comillamorada
  color: $color-primario
  font-size: 2.5em

.comillaabajo
  align-items: flex-end

// puntos calientes

.img-infografica__item__dot, .img-infografica-b__item__dot
  width: 125%
  padding-top: 125%

.img-infografica__item__numero, .img-infografica-b__item__numero
    left: 65%
    top: 50%

//tab tema 5

.tabs-c__content-item
  background: url('../assets/curso/temas/tema4y5/fondo-tab.png')
  background-size: 100% 100%
  background-repeat: no-repeat
  background-position: cover

.tabs-c__header
  margin-bottom: 0px !important

.tabs-c
  border-bottom: none

.tabs-c__tab--active
  font-weight: 700 !important

.tabs-c__tab 
    background-color: #0A4666
    border-bottom: 6px solid#0A4666
    color: #fff 
    line-height: 1.2
    text-align: center
    display: flex
    align-items: center
    justify-content: center
    position: relative

.tabs-c.color-acento-contenido .tabs-c__tab--active
    color: $color-sistema-texto !important
    background-color: #fff !important
.tabs-c.color-acento-contenido .tabs-c__tab--active
  border-bottom-color: $color-acento-botones !important
.tabs-c.color-acento-contenido .tabs-c__tab--active:before
  border-top-color: $color-acento-botones !important
.tabs-c__header 
    margin-bottom: -7px
    
// slyder tema 5

.tarjeta.colorazulclaro
  background-color: #75BAF1


// linea de tiempo tema 6

.tarjeta--moradaclara
    background-image: url('../assets/curso/temas/tema6y7/fondo-lin.png')
    background-size: 100% 100%
    background-repeat: no-repeat
    background-position: cover

.linea-tiempo-c__header__btn--right, .linea-tiempo-c__header__btn--left
    background-color:  #FFD947

// acordion tema 7

.acordion__accion__btn--a
  background-color: $color-acento-botones
  box-shadow: 0px 0px 7px 2px rgba(0,0,0,.3)
.acordion .tarjeta--azul
  background-color: $color-primario

.acordion .tarjeta.tarjeta--azul.acordion__activo
  background-color: #E4F0F9
  h3
    color: black
.acordion__titulo
  h3
    color: #fff

// container tema 8 advertencia

.container.tarjeta.tarjeta--moradaadv
   background-color: #6E3DC6

//slyder tema 9

.slyder__action
  justify-content: flex-start
  align-items: flex-end

.slyder__btn 
    background-color: #FFD947

// puntos calientes tema 9



.tarjeta.borde-especial1
  border-bottom-color:  #BE79CA !important
  border-bottom: 5px solid
  background: white
  border-radius: 0px

.tarjeta.borde-especial2
  border-left-color:  #BE79CA !important
  border-left: 5px solid
  background: white
  border-radius: 0px

.tarjeta.borde-especial3
  border-top-color:  #BE79CA !important
  border-top: 5px solid
  background: white
  border-radius: 0px

.tarjeta.borde-especial4
  border-left-color:  #BE79CA !important
  border-left: 5px solid
  background: white
  border-radius: 0px
